.about-container {
    height: 78vh;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.picture-panel {
    height: 78vh;
    background-image: url(./assets/about-sidebar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section {
    display: grid;
    grid-template-rows: 1fr 2fr 1.5fr;
    height: 85%;
}

.about-title {
    font-size: 4.5rem;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
}

.about-paragraph {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    text-indent: 1rem;
    margin: 0 20px;
}

.contact-container {
    font-size: 1.3rem;
    display: grid;
    height: 100%;
    /* margin-bottom: 30px; */
    grid-template-rows: repeat(3, 1fr);
}

.contact-line {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.location-icon, .phone-icon, .email-icon {
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    margin-top: 8px;
}

.location-text, .phone-text, .email-text {
    align-self: end;
}

.location-icon {
    background-image: url(./assets/map-pin.svg);
}

.phone-icon {
    background-image: url(./assets/phone-solid.svg);
}

.email-icon {
    background-image: url(./assets/mail-solid.svg);
}

